<div class="footer form-row col-xs-12" >
    <div class="col-xs-2"></div>
    <div id="principal" class="col-xs-1">
        <a class="ahome" (click)="home();"><img src="../assets/icone0.jpg" height="40px;" width="45px" /><br/></a>
        <label>Home</label>
    </div>
    <div class="col-xs-2"></div>
    <!-- <div id="quem-somos" style="padding-left: 35px;">
        <a (click)="institucional();"> <img src="../assets/icone1.jpg" height="40px;" width="45px"/><br/></a>
        <label>Quem Somos</label>
        
    </div> -->

    <div id="cad" class="col-xs-1">
        <a (click)="cadastrousuario();"><img src="../assets/icone2.jpg" height="40px;" width="45px"/><br/></a>
        <label>Cadastrar</label>
    </div>
    <div class="col-xs-2"></div>
    <div id="sair" class="col-xs-1">
        <a id="btlogout" (click)="logout();"><img src="../assets/icone3.jpg" height="40px;" width="45px"/><br/></a>
        <label>Sair</label>
    </div>
</div>
