<div class="background-image"></div>
<div class="container">
    <div class="col-md-6 mx-auto text-center">
       <div class="header-title" >
          <h1 class="wv-heading--title">
            
            <img src="../assets/logobolao.png" width="200" height="120">
            <br/><br/>
          </h1>
       </div>
    </div>
    <div class="col-12 form-row">

        <div class="col-2"></div>
        <div class="col-8">
            <div  style=" align-items: center; justify-content: center; display: flex; padding-bottom: 20px;">
                <i class="fas fa-times fa-5x"></i>
            </div>
            <div  style=" align-items: center; justify-content: center; display: flex; text-align: center;">
                <h3><b>Pagamento recusado!</b></h3>
            </div>
            <br/>
            <div  style=" align-items: center; justify-content: center; display: flex;  text-align: center;">
                <h4>Reveja os dados do cartão ou entre em contato com a central de atendimento do seu cartão</h4>
            </div>
        </div>
        <div class="col-2"></div>
        

    </div>
    <div style="text-align: center; padding-top: 150px;" >
        <button (click)="back();" class="btn btn-primary"><i class="far fa-arrow-alt-circle-left"></i> Tente Novamente</button>
    </div>
  </div>