<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>



<div class="col-12 main-container">

  <div *ngIf="!mobile">

    <div class="container">
      <div class="col-md-6 mx-auto text-center">
        <div class="header-title">
          <h1 class="wv-heading--title">

            <img src="../assets/logobolao.png" width="200" height="120">
            <br /><br />Política de Privacidade
          </h1>
        </div>
      </div>
      <div class="col-md-10 mx-auto text-center" style="justify-content: center;">
        <p style="text-align: justify;" id="texto">
          <br/>
          A AGILIZARE SERVIÇOS E TECNOLOGIA LTDA, empresa sediada na Rua Fadel Fadel, 186/1503 – Leblon Rio de Janeiro –
          RJ, inscrita no CNPJ sob o número 43.275.345/0001-60, aqui denominada simplesmente “AGILIZARE” ou “iBOLÃO”,
          oferece em seu site www.ibolao.com.br (“PLATAFORMA”) um sistema de controle e otimização do processo de venda
          de bolão para Casas Lotéricas. Esta Política de Privacidade (“POLÍTICA DE PRIVACIDADE”) serve para
          regulamentar o uso de nossa PLATAFORMA pelo usuário (“Você”).
          A atual versão foi atualizada pela última vez em xx/01/2022.
          1. INTRODUÇÃO
          1.1. A AGILIZARE oferece em sua PLATAFORMA serviço de controle e aceleração das vendas dos Bolões lotéricos
          emitidos pelo usuário. Para viabilizar suas operações e proporcionar uma experiência personalizada, a
          PLATAFORMA realiza a coleta e tratamento dos dados pessoais de seus usuários cadastrados, além dos clientes da
          Casa Lotérica.
          1.2. Com o objetivo de atuar de maneira transparente e demonstrar seu comprometimento com a privacidade de
          seus usuários, elaboramos esta POLÍTICA DE PRIVACIDADE.
          1.3. Este documento tem como objetivo informar e regulamentar como se dá a coleta, utilização, armazenamento,
          compartilhamento e exclusão de dados relativos ao seu cadastramento e interação com a PLATAFORMA da AGILIZARE;
          bem como quais os procedimentos adotados pela AGILIZARE para garantir a proteção desses dados.
          1.4. A POLÍTICA DE PRIVACIDADE faz parte dos TERMOS DE USO do iBolão, disponível neste link (XXXX). Ambos os
          documentos deverão ser lidos atentamente e consentidos pelo usuário como requisito para realização do cadastro
          na PLATAFORMA e utilização de suas funcionalidades.
          1.5. Esta Política foi elaborada em conformidade com a legislação aplicável em vigor, especialmente o Marco
          Civil da Internet (Lei Federal n.º 12.965/2014); o Decreto Federal nº 8.771/2016; e a Lei Geral de Proteção de
          Dados Pessoais (Lei Federal n.º 13.709/2018).
          1.6. Recomendamos que o usuário salve uma cópia desta POLÍTICA DE PRIVACIDADE para consulta futura, caso
          necessário. O usuário não poderá se escusar da Política, alegando desconhecimento sobre as suas condições,
          inclusive quanto a eventuais modificações nas suas disposições. Ao realizar o cadastramento no iBolão, o
          usuário concede seu livre, informado, inequívoco e expresso consentimento dos termos aqui previstos.


          2. DADOS COLETADOS
          2.1.Para que os usuários utilizem os serviços do iBolão é fundamental que se cadastrem na PLATAFORMA.
          2.2.Ao receber o cadastramento de um usuário, o iBolão coleta, na sua PLATAFORMA ou a partir de ferramentas de
          terceiros contratados para implementar soluções tecnológicas, dados pessoais, registros de comunicação, dados
          técnicos, na forma e limite do consentimento concedido pelo usuário, de acordo com as disposições desta
          POLÍTICA DE PRIVACIDADE e dos TERMOS DE USO, de acordo com a legislação aplicável em vigor.
          2.3.Para fins desta POLÍTICA DE PRIVACIDADE:
          a. Dados pessoais são todos os dados relacionados à pessoa natural identificada ou identificável, o que pode
          incluir dados cadastrais (nome, número do documento de identificação etc.), dados para contato (número de
          telefone, endereço postal, endereço de e-mail etc.), dados de pagamento (nome do titular da conta, número do
          cartão de crédito etc.), dados do responsável legal (nome, telefone, número de documento de identidade do
          responsável), dados de imagem (foto de perfil) e outros identificadores que, se analisados em conjunto entre
          si ou com outros dados, permitem a identificação de uma pessoa natural.
          b. Os registros de comunicação são as informações relativas ao histórico de comunicações realizadas entre o
          usuário e a AGILIZARE (incluindo e-mail, chat online do site, mídias sociais etc.).
          c. Dados de navegação são aqueles armazenados no seu navegador ou dispositivo, que contém um número de
          identificação anônima exclusiva e arbitrária, que podem definir preferências, dependendo das escolhas que você
          faz quando visita a plataforma. Estes dados visam entender o comportamento do usuário para proporcionar uma
          experiência mais personalizada na navegação, uso e consumo de conteúdos, assim como selecionar os anúncios e
          publicidade mais relevantes para o usuário, podendo, inclusive, para tal fim, fazer uso de web beacons,
          cookies, pixel tags, local shared objects e quaisquer outras tecnologias instaladas pela AGILIZARE no
          computador do usuário.
          d. Cookies são pequenos arquivos que reúnem essas informações automaticamente a partir do acesso do usuário.
          Em termos mais técnicos, os cookies são arquivos enviados para um navegador para registrar as atividades de um
          usuário na internet. Estes cookies podem ser utilizados para identificar as preferências e interesses de
          navegação do usuário, a geolocalização do usuário, a contagem do número de visitantes, quais conteúdos são
          mais acessados – dentre outras informações relacionadas ao perfil de navegação dos usuários.
          e. Tratamento de dados pessoais é toda operação realizada com dados pessoais, a exemplo da coleta, produção,
          recepção, classificação, utilização, acesso, reprodução, transmissão, distribuição, processamento,
          arquivamento, armazenamento, eliminação, avaliação ou controle da informação, modificação, comunicação,
          transferência, difusão e extração.
          f. Compartilhamento de dados pessoais é a comunicação, difusão, transferência internacional, interconexão de
          dados pessoais ou tratamento compartilhado de bancos de dados pessoais por órgãos e entidades públicos no
          cumprimento de suas competências legais, ou entre esses e entes privados, reciprocamente, com autorização
          específica, para uma ou mais modalidades de tratamento permitidas por esses entes públicos, ou entre entes
          privados.
          g. Agentes de tratamento de dados pessoais são o controlador, que possui poder de decisão sobre o tratamento
          dos dados pessoais dos usuários, no caso a AGILIZARE, e o operador, que realiza o tratamento de dados a partir
          das diretrizes do controlador, no caso a AGILIZARE.
          h. Incidentes de segurança são uma violação de segurança que provoca, de modo ilícito e não acidental, a
          destruição, a perda, a alteração, a divulgação ou o acesso não autorizado a dados pessoais.
          2.4.A AGILIZARE e seus parceiros terceirizados/contratos podem coletar dados técnicos que incluem, mas não se
          limitam a: endereço de Protocolo de Internet (endereço IP), registro de acesso, geolocalização do endereço IP,
          tipo do navegador utilizado, modelo e características do dispositivo de acesso, operadora, comportamento de
          navegação, cliques, páginas visitadas, independentemente do cadastro do usuário.
          2.5.A AGILIZARE utiliza-se de cookies e outras ferramentas tecnológicas similares que armazenam os registros
          de navegação dos usuários. Você concorda com a coleta, armazenamento, tratamento, e processamento das suas
          informações e registros de navegação em nossa PLATAFORMA.
          2.6.Os registros de navegação serão coletados, armazenados, tratados, processados e utilizados única e
          exclusivamente para o pleno funcionamento da PLATAFORMA, bem como para a AGILIZARE analisar e mediar a sua
          audiência e interesse dos usuários.
          2.7.Alguns navegadores permitem que Você desabilite o registro de sua navegação. Se não quiser que seus dados
          de navegação sejam registrados, busque se informar sobre tais ferramentas. No entanto, é possível que algumas
          funcionalidades da PLATAFORMA e outras páginas da internet tornem-se parcial ou totalmente inoperantes.

          3. UTILIZAÇÃO DAS INFORMAÇÕES
          3.1. O usuário concorda, de forma livre, informada, inequívoca e expressa que as informações coletadas pela
          plataforma serão utilizadas sempre no âmbito dos serviços prestados pela AGILIZARE e/ou por seus terceiros
          autorizados/contratados, para as seguintes finalidades:
          • Venda de produtos e prestação de serviços, incluindo acesso às ferramentas e funcionalidades da PLATAFORMA,
          cadastramento e autenticação do usuário, processamento dos pagamentos;
          • Comunicação de avisos de informações relevantes a respeito de atualizações da POLÍTICA DE PRIVACIDADE e
          TERMOS DE USO; divulgação de novas funcionalidades; publicidade e campanhas, digitais ou não; materiais
          promocionais;
          • Realização de procedimentos administrativos internos relacionados aos serviços prestados, incluindo registro
          das atividades e histórico de navegação dos usuários na plataforma, gerenciamento de vendas, autenticação do
          acesso do usuário às áreas restritas do site, entre outros;
          • Aprimoramento da segurança da plataforma, solucionando problemas técnicos, bem como identificando e coibindo
          acessos não autorizados, atividades suspeitas, fraudes etc.; e/ou
          • Investigação sobre possíveis violações de leis ou de nossas políticas internas.
          3.2. A AGILIZARE considera todas as informações coletadas confidenciais, de modo que os dados somente serão
          utilizados da forma descrita nesta POLÍTICA DE PRIVACIDADE e autorizada pelo usuário. Tal utilização restrita
          se estenderá aos dados do Cliente do usuário que somente serão utilizados para comunicação do próprio
          lotérico, nunca sendo utilizado para comunicação de produtos ou serviços de outros lotéricos.
          3.3. Caso a AGILIZARE utilize um terceiro como fornecedor de soluções tecnológicas, estes sempre serão
          identificados na respectiva inserção. Para obter informações sobre as políticas e normas desses parceiros, o
          usuário deverá consultar nos respectivos sites as normas específicas aplicáveis.
          4. ARMAZENAMENTO DAS INFORMAÇÕES
          4.1. A PLATAFORMA utiliza soluções tecnológicas de terceiros e, em razão de tal relacionamento, os dados
          pessoais dos usuários poderão ser armazenados em servidores controlados por terceiros, no Brasil e no
          exterior. Os dados coletados pela AGILIZARE são armazenados de modo eletrônico.
          4.2. A AGILIZARE implementará sistemas de gerenciamento em proteção de dados para garantir e poder provar que
          seu processamento está em conformidade com a Lei Geral de Proteção de Dados.
          4.2. Para garantir a integridade da plataforma e a segurança do armazenamento dos dados coletados, a AGILIZARE
          e seus parceiros adotarão medidas para proteger a confidencialidade, a integridade e a disponibilidade dos
          dados coletados.
          4.3. A despeito dos esforços para garantir a segurança de armazenamento, Você reconhece que as tecnologias
          utilizadas na internet não são integralmente livres de falhas e que a exposição a riscos faz parte da essência
          da utilização da rede. A AGILIZARE toma todas as precauções razoáveis a fim de assegurar a inviolabilidade dos
          dados armazenados, com a adoção das melhores práticas e tecnologias disponíveis no mercado.
          4.4. Os agentes de tratamento de dados pessoais respondem solidariamente pelos danos patrimoniais, morais,
          individuais ou coletivos causados em razão do exercício da atividade de tratamento de dados, nos termos da Lei
          13.709/2018.
          4.5. Caso o usuário não tenha interesse em ter sua navegação registrada pela AGILIZARE ou qualquer outra
          plataforma, poderá instalar soluções tecnológicas gratuitas disponíveis na web ou alterar as configurações de
          privacidade de seu browser de forma a impedir, por exemplo, a coleta de cookies e o rastreamento. A AGILIZARE
          alerta que nesses casos a experiência de customização personalizada de navegação será prejudicada.
          4.7. Os dados dos usuários serão armazenados pelo prazo de 18 (dezoito) meses a contar do cadastramento da
          aquisição e/ou contratação de serviços da AGILIZARE ou até que estes solicitem sua exclusão da plataforma, por
          meio do endereço de e-mail contato@ibolao.com.br. Ademais, os dados dos usuários poderão ser armazenados
          enquanto o usuário mantiver sua assinatura ativa, até que seja necessário manter os dados de recebimento para
          efeitos fiscais.

          5. COMPARTILHAMENTO DAS INFORMAÇÕES
          5.1. A AGILIZARE não realizará qualquer divulgação de informações pessoais que identifiquem seus usuários,
          salvo nas seguintes situações:
          • Quando houver terceiros parceiros/contratados da AGILIZARE que auxiliam no desenvolvimento, oferta e
          melhoria dos serviços prestados, incluindo para fins publicitários, inclusive funcionalidades de processamento
          de pagamento;
          • Quando houver operações societárias envolvendo a AGILIZARE, hipótese em que a transferência das informações
          será necessária para a continuidade das atividades da empresa e funcionamento da PLATAFORMA;
          • Mediante ordem judicial ou requerimento de autoridades da administração pública (Ministérios, Secretarias,
          Tribunal de Contas da União, Controladoria Geral da União e demais órgãos) que detenham competência legal para
          sua requisição; e/ou
          • Com terceiros parceiros e prestadores de serviços à AGILIZARE, que necessitem do tratamento desses dados
          pessoais para o exercício duas funções. As finalidades do tratamento realizado por esses terceiros serão
          estabelecidas em um acordo de tratamento de dados pessoais (data processing agreement).
          5.2. Você será informado quando for necessário o compartilhamento de dados em quaisquer das situações
          descritas acima.
          5.3. Qualquer aproveitamento dos dados pessoais obtidos a partir da PLATAFORMA serão realizados dentro do
          escopo de atuação da AGILIZARE, podendo, não obstante, armazenar e processar tais dados em ambientes
          controlados por terceiros autorizados, tais como parceiros comerciais e fornecedores de soluções tecnológicas
          a AGILIZARE.
          5.4. A AGILIZARE faz uso de prestadores de serviços para observação e análise das estatísticas de utilização
          de seus serviços. Tais prestadores poderão ter acesso a dados de navegação anônimos e/ou anonimizados, sem que
          a AGILIZARE forneça qualquer informação relacionada aos usuários.
          5.5. Caso qualquer terceiro solicite diretamente ao usuário seus dados pessoais e informações, em qualquer
          hipótese e contexto, a coleta, guarda e processamento destas informações não serão de responsabilidade da
          AGILIZARE, ficando a total critério do usuário ter ou não qualquer envolvimento com tais terceiros. Da mesma
          forma, caso o usuário clique em um link para qualquer site externo, a AGILIZARE não terá qualquer
          responsabilidade quanto à navegação dos usuários em tais ambientes, aplicando-se as políticas de privacidade e
          termos de uso específicos desses ambientes.
          6. DIREITOS DOS USUÁRIOS
          6.1. O usuário cadastrado na plataforma da AGILIZARE terá direito à:
          • Informação sobre o tratamento de seus dados pessoais, tal como descrito neste documento;
          • Revogação a qualquer momento, através de manifestação expressa, por procedimento simples, gratuito e fácil,
          por e-mail enviado para contato@ibolao.com.br, do consentimento a qualquer momento, excetuando as hipóteses de
          tratamento com base em obrigação regulatória ou legítimo interesse;
          • Solicitação de informação a respeito das consequências caso se recuse a dar seu consentimento;
          • Oposição ao tratamento de seus dados pessoais, quando a base legal não for o consentimento e o tratamento
          violar a legislação;
          • Correção ou alteração de seus dados pessoais sempre que estiverem incompletos, inexatos ou desatualizados.
          Neste caso, o usuário pode realizar a alteração na página do usuário ou solicitar a alteração para nossa
          equipe. A AGILIZARE recomenda que o cadastro seja sempre atualizado pelo usuário;
          • Restrição dos dados e solicitação de anonimização, bloqueio ou eliminação de dados pessoais desnecessários,
          excessivos ou tratados pela AGILIZARE em desconformidade com a legislação em vigor;
          • Solicitação da transmissão dos dados tratados pela AGILIZARE para outro fornecedor de serviços ou produtos;
          • Exclusão dos dados pessoais tratados, por meio da solicitação de descadastramento. A AGILIZARE empreenderá
          os melhores esforços para atender a todos os pedidos de exclusão, no menor espaço de tempo possível. Tal
          exclusão, no entanto, removerá também o seu cadastro da PLATAFORMA, impossibilitando novos acessos, sem
          prejuízo de novos cadastros futuros. A AGILIZARE esclarece que respeitará o prazo de armazenamento mínimo de
          determinadas informações, conforme determinado pela legislação brasileira, especialmente para fins fiscais,
          ainda que Você solicite a exclusão de tais informações;
          • Informação sobre as entidades públicas ou privadas com as quais a AGILIZARE compartilhou seus dados, sobre a
          possibilidade de não fornecer consentimento e sobre as consequências desta negativa;
          • Revisão de decisões em processo automatizado, no caso de práticas que envolvam decisões tomadas unicamente
          com base em tratamento automatizado de dados pessoais que afetem os seus interesses; e
          • Apresentação de petição perante a Autoridade Nacional de Proteção de Dados Pessoais
          6.2. A AGILIZARE deixa de usar seus dados pessoais quando a revogação do seu consentimento for concluída ou
          quando a finalidade prevista nesta POLÍTICA DE PRIVACIDADE for atingida. Sendo assim, qualquer utilização de
          seus dados pessoais antes da efetivação do cancelamento/revogação é entendida como legal, verdadeira e
          autorizada pelo usuário. Caso a eliminação de seus dados seja solicitada, as informações pessoais fornecidas
          por Você à AGILIZARE durante a utilização da plataforma serão excluídas definitivamente, ressalvadas as
          hipóteses de retenção e guarda obrigatória de registros previstas na legislação aplicável em vigor, bem como
          nos casos em que tal guarda for permitida por lei.
          6.3. A AGILIZARE se compromete a notificar Você em caso se incidente de segurança em até 72 horas da
          constatação do ocorrido. Caso isso não seja possível, informaremos as razões para não termos tomado as
          providências imediatas ou que não somos agente de tratamento quanto aos dados em questão, indicando, sempre
          que possível, onde Você poderá encontrá-los.
          7. ATUALIZAÇÃO DA POLÍTICA DE PRIVACIDADE
          7.1. Em conformidade com os princípios da transparência, adequação e segurança, a AGILIZARE poderá, a qualquer
          tempo, realizar alterações na presente Política de Privacidade, ocasião em que o usuário será devidamente
          informado o mais breve possível através do e-mail cadastrado e em nossa PLATAFORMA.
          7.2. No topo desta POLÍTICA DE PRIVACIDADE constará a data de última alteração do documento.
          8. LEGISLAÇÃO E FORO COMPETENTE
          8.1. A AGILIZARE é uma empresa brasileira e oferece serviços e produtos observando unicamente a legislação
          brasileira, independentemente do local de acesso dos usuários.
          8.2. A inviabilidade da execução ou invalidade, ainda que em virtude de decisão judicial, de alguma cláusula,
          não afetará a validade das demais cláusulas desta POLÍTICA DE PRIVACIDADE, que permanecerá válida e aplicável
          em seus demais termos.
          8.3. A presente POLÍTICA DE PRIVACIDADE vincula as partes e seus sucessores a qualquer título.
          8.4. Fica eleito o foro da comarca da cidade do Rio de Janeiro, Estado do Rio de Janeiro, para dirimir
          qualquer controvérsia oriunda do presente instrumento, renunciando expressamente as Partes a qualquer outro
          foro, por mais privilegiado que seja ou venha a ser.

        </p>
      </div>
      <div style="text-align: center; padding-bottom: 50px;">
        <button (click)="back();" class="btn btn-primary"><i class="far fa-arrow-alt-circle-left"></i> Voltar</button>
      </div>
    </div>
  </div>



  <div *ngIf="mobile">

    <div id="logo">
      <img src="../../assets/logobolao.png" width="80%" />
    </div>

    <div class="divtitulo">
      <h4 class="card-title">POLÍTICA DE PRIVACIDADE</h4>
    </div>

    <div class="row col-12 submain-container">
      <div class="submain-container">
        <p id="texto"><b>
          <br/>
            A AGILIZARE SERVIÇOS E TECNOLOGIA LTDA, empresa sediada na Rua Fadel Fadel, 186/1503 – Leblon Rio de Janeiro
            – RJ, inscrita no CNPJ sob o número 43.275.345/0001-60, aqui denominada simplesmente “AGILIZARE” ou
            “iBOLÃO”, oferece em seu site www.ibolao.com.br (“PLATAFORMA”) um sistema de controle e otimização do
            processo de venda de bolão para Casas Lotéricas. Esta Política de Privacidade (“POLÍTICA DE PRIVACIDADE”)
            serve para regulamentar o uso de nossa PLATAFORMA pelo usuário (“Você”).
            A atual versão foi atualizada pela última vez em xx/01/2022.
            1. INTRODUÇÃO
            1.1. A AGILIZARE oferece em sua PLATAFORMA serviço de controle e aceleração das vendas dos Bolões lotéricos
            emitidos pelo usuário. Para viabilizar suas operações e proporcionar uma experiência personalizada, a
            PLATAFORMA realiza a coleta e tratamento dos dados pessoais de seus usuários cadastrados, além dos clientes
            da Casa Lotérica.
            1.2. Com o objetivo de atuar de maneira transparente e demonstrar seu comprometimento com a privacidade de
            seus usuários, elaboramos esta POLÍTICA DE PRIVACIDADE.
            1.3. Este documento tem como objetivo informar e regulamentar como se dá a coleta, utilização,
            armazenamento, compartilhamento e exclusão de dados relativos ao seu cadastramento e interação com a
            PLATAFORMA da AGILIZARE; bem como quais os procedimentos adotados pela AGILIZARE para garantir a proteção
            desses dados.
            1.4. A POLÍTICA DE PRIVACIDADE faz parte dos TERMOS DE USO do iBolão, disponível neste link (XXXX). Ambos os
            documentos deverão ser lidos atentamente e consentidos pelo usuário como requisito para realização do
            cadastro na PLATAFORMA e utilização de suas funcionalidades.
            1.5. Esta Política foi elaborada em conformidade com a legislação aplicável em vigor, especialmente o Marco
            Civil da Internet (Lei Federal n.º 12.965/2014); o Decreto Federal nº 8.771/2016; e a Lei Geral de Proteção
            de Dados Pessoais (Lei Federal n.º 13.709/2018).
            1.6. Recomendamos que o usuário salve uma cópia desta POLÍTICA DE PRIVACIDADE para consulta futura, caso
            necessário. O usuário não poderá se escusar da Política, alegando desconhecimento sobre as suas condições,
            inclusive quanto a eventuais modificações nas suas disposições. Ao realizar o cadastramento no iBolão, o
            usuário concede seu livre, informado, inequívoco e expresso consentimento dos termos aqui previstos.


            2. DADOS COLETADOS
            2.1.Para que os usuários utilizem os serviços do iBolão é fundamental que se cadastrem na PLATAFORMA.
            2.2.Ao receber o cadastramento de um usuário, o iBolão coleta, na sua PLATAFORMA ou a partir de ferramentas
            de terceiros contratados para implementar soluções tecnológicas, dados pessoais, registros de comunicação,
            dados técnicos, na forma e limite do consentimento concedido pelo usuário, de acordo com as disposições
            desta POLÍTICA DE PRIVACIDADE e dos TERMOS DE USO, de acordo com a legislação aplicável em vigor.
            2.3.Para fins desta POLÍTICA DE PRIVACIDADE:
            a. Dados pessoais são todos os dados relacionados à pessoa natural identificada ou identificável, o que pode
            incluir dados cadastrais (nome, número do documento de identificação etc.), dados para contato (número de
            telefone, endereço postal, endereço de e-mail etc.), dados de pagamento (nome do titular da conta, número do
            cartão de crédito etc.), dados do responsável legal (nome, telefone, número de documento de identidade do
            responsável), dados de imagem (foto de perfil) e outros identificadores que, se analisados em conjunto entre
            si ou com outros dados, permitem a identificação de uma pessoa natural.
            b. Os registros de comunicação são as informações relativas ao histórico de comunicações realizadas entre o
            usuário e a AGILIZARE (incluindo e-mail, chat online do site, mídias sociais etc.).
            c. Dados de navegação são aqueles armazenados no seu navegador ou dispositivo, que contém um número de
            identificação anônima exclusiva e arbitrária, que podem definir preferências, dependendo das escolhas que
            você faz quando visita a plataforma. Estes dados visam entender o comportamento do usuário para proporcionar
            uma experiência mais personalizada na navegação, uso e consumo de conteúdos, assim como selecionar os
            anúncios e publicidade mais relevantes para o usuário, podendo, inclusive, para tal fim, fazer uso de web
            beacons, cookies, pixel tags, local shared objects e quaisquer outras tecnologias instaladas pela AGILIZARE
            no computador do usuário.
            d. Cookies são pequenos arquivos que reúnem essas informações automaticamente a partir do acesso do usuário.
            Em termos mais técnicos, os cookies são arquivos enviados para um navegador para registrar as atividades de
            um usuário na internet. Estes cookies podem ser utilizados para identificar as preferências e interesses de
            navegação do usuário, a geolocalização do usuário, a contagem do número de visitantes, quais conteúdos são
            mais acessados – dentre outras informações relacionadas ao perfil de navegação dos usuários.
            e. Tratamento de dados pessoais é toda operação realizada com dados pessoais, a exemplo da coleta, produção,
            recepção, classificação, utilização, acesso, reprodução, transmissão, distribuição, processamento,
            arquivamento, armazenamento, eliminação, avaliação ou controle da informação, modificação, comunicação,
            transferência, difusão e extração.
            f. Compartilhamento de dados pessoais é a comunicação, difusão, transferência internacional, interconexão de
            dados pessoais ou tratamento compartilhado de bancos de dados pessoais por órgãos e entidades públicos no
            cumprimento de suas competências legais, ou entre esses e entes privados, reciprocamente, com autorização
            específica, para uma ou mais modalidades de tratamento permitidas por esses entes públicos, ou entre entes
            privados.
            g. Agentes de tratamento de dados pessoais são o controlador, que possui poder de decisão sobre o tratamento
            dos dados pessoais dos usuários, no caso a AGILIZARE, e o operador, que realiza o tratamento de dados a
            partir das diretrizes do controlador, no caso a AGILIZARE.
            h. Incidentes de segurança são uma violação de segurança que provoca, de modo ilícito e não acidental, a
            destruição, a perda, a alteração, a divulgação ou o acesso não autorizado a dados pessoais.
            2.4.A AGILIZARE e seus parceiros terceirizados/contratos podem coletar dados técnicos que incluem, mas não
            se limitam a: endereço de Protocolo de Internet (endereço IP), registro de acesso, geolocalização do
            endereço IP, tipo do navegador utilizado, modelo e características do dispositivo de acesso, operadora,
            comportamento de navegação, cliques, páginas visitadas, independentemente do cadastro do usuário.
            2.5.A AGILIZARE utiliza-se de cookies e outras ferramentas tecnológicas similares que armazenam os registros
            de navegação dos usuários. Você concorda com a coleta, armazenamento, tratamento, e processamento das suas
            informações e registros de navegação em nossa PLATAFORMA.
            2.6.Os registros de navegação serão coletados, armazenados, tratados, processados e utilizados única e
            exclusivamente para o pleno funcionamento da PLATAFORMA, bem como para a AGILIZARE analisar e mediar a sua
            audiência e interesse dos usuários.
            2.7.Alguns navegadores permitem que Você desabilite o registro de sua navegação. Se não quiser que seus
            dados de navegação sejam registrados, busque se informar sobre tais ferramentas. No entanto, é possível que
            algumas funcionalidades da PLATAFORMA e outras páginas da internet tornem-se parcial ou totalmente
            inoperantes.

            3. UTILIZAÇÃO DAS INFORMAÇÕES
            3.1. O usuário concorda, de forma livre, informada, inequívoca e expressa que as informações coletadas pela
            plataforma serão utilizadas sempre no âmbito dos serviços prestados pela AGILIZARE e/ou por seus terceiros
            autorizados/contratados, para as seguintes finalidades:
            • Venda de produtos e prestação de serviços, incluindo acesso às ferramentas e funcionalidades da
            PLATAFORMA, cadastramento e autenticação do usuário, processamento dos pagamentos;
            • Comunicação de avisos de informações relevantes a respeito de atualizações da POLÍTICA DE PRIVACIDADE e
            TERMOS DE USO; divulgação de novas funcionalidades; publicidade e campanhas, digitais ou não; materiais
            promocionais;
            • Realização de procedimentos administrativos internos relacionados aos serviços prestados, incluindo
            registro das atividades e histórico de navegação dos usuários na plataforma, gerenciamento de vendas,
            autenticação do acesso do usuário às áreas restritas do site, entre outros;
            • Aprimoramento da segurança da plataforma, solucionando problemas técnicos, bem como identificando e
            coibindo acessos não autorizados, atividades suspeitas, fraudes etc.; e/ou
            • Investigação sobre possíveis violações de leis ou de nossas políticas internas.
            3.2. A AGILIZARE considera todas as informações coletadas confidenciais, de modo que os dados somente serão
            utilizados da forma descrita nesta POLÍTICA DE PRIVACIDADE e autorizada pelo usuário. Tal utilização
            restrita se estenderá aos dados do Cliente do usuário que somente serão utilizados para comunicação do
            próprio lotérico, nunca sendo utilizado para comunicação de produtos ou serviços de outros lotéricos.
            3.3. Caso a AGILIZARE utilize um terceiro como fornecedor de soluções tecnológicas, estes sempre serão
            identificados na respectiva inserção. Para obter informações sobre as políticas e normas desses parceiros, o
            usuário deverá consultar nos respectivos sites as normas específicas aplicáveis.
            4. ARMAZENAMENTO DAS INFORMAÇÕES
            4.1. A PLATAFORMA utiliza soluções tecnológicas de terceiros e, em razão de tal relacionamento, os dados
            pessoais dos usuários poderão ser armazenados em servidores controlados por terceiros, no Brasil e no
            exterior. Os dados coletados pela AGILIZARE são armazenados de modo eletrônico.
            4.2. A AGILIZARE implementará sistemas de gerenciamento em proteção de dados para garantir e poder provar
            que seu processamento está em conformidade com a Lei Geral de Proteção de Dados.
            4.2. Para garantir a integridade da plataforma e a segurança do armazenamento dos dados coletados, a
            AGILIZARE e seus parceiros adotarão medidas para proteger a confidencialidade, a integridade e a
            disponibilidade dos dados coletados.
            4.3. A despeito dos esforços para garantir a segurança de armazenamento, Você reconhece que as tecnologias
            utilizadas na internet não são integralmente livres de falhas e que a exposição a riscos faz parte da
            essência da utilização da rede. A AGILIZARE toma todas as precauções razoáveis a fim de assegurar a
            inviolabilidade dos dados armazenados, com a adoção das melhores práticas e tecnologias disponíveis no
            mercado.
            4.4. Os agentes de tratamento de dados pessoais respondem solidariamente pelos danos patrimoniais, morais,
            individuais ou coletivos causados em razão do exercício da atividade de tratamento de dados, nos termos da
            Lei 13.709/2018.
            4.5. Caso o usuário não tenha interesse em ter sua navegação registrada pela AGILIZARE ou qualquer outra
            plataforma, poderá instalar soluções tecnológicas gratuitas disponíveis na web ou alterar as configurações
            de privacidade de seu browser de forma a impedir, por exemplo, a coleta de cookies e o rastreamento. A
            AGILIZARE alerta que nesses casos a experiência de customização personalizada de navegação será prejudicada.
            4.7. Os dados dos usuários serão armazenados pelo prazo de 18 (dezoito) meses a contar do cadastramento da
            aquisição e/ou contratação de serviços da AGILIZARE ou até que estes solicitem sua exclusão da plataforma,
            por meio do endereço de e-mail contato@ibolao.com.br. Ademais, os dados dos usuários poderão ser armazenados
            enquanto o usuário mantiver sua assinatura ativa, até que seja necessário manter os dados de recebimento
            para efeitos fiscais.

            5. COMPARTILHAMENTO DAS INFORMAÇÕES
            5.1. A AGILIZARE não realizará qualquer divulgação de informações pessoais que identifiquem seus usuários,
            salvo nas seguintes situações:
            • Quando houver terceiros parceiros/contratados da AGILIZARE que auxiliam no desenvolvimento, oferta e
            melhoria dos serviços prestados, incluindo para fins publicitários, inclusive funcionalidades de
            processamento de pagamento;
            • Quando houver operações societárias envolvendo a AGILIZARE, hipótese em que a transferência das
            informações será necessária para a continuidade das atividades da empresa e funcionamento da PLATAFORMA;
            • Mediante ordem judicial ou requerimento de autoridades da administração pública (Ministérios, Secretarias,
            Tribunal de Contas da União, Controladoria Geral da União e demais órgãos) que detenham competência legal
            para sua requisição; e/ou
            • Com terceiros parceiros e prestadores de serviços à AGILIZARE, que necessitem do tratamento desses dados
            pessoais para o exercício duas funções. As finalidades do tratamento realizado por esses terceiros serão
            estabelecidas em um acordo de tratamento de dados pessoais (data processing agreement).
            5.2. Você será informado quando for necessário o compartilhamento de dados em quaisquer das situações
            descritas acima.
            5.3. Qualquer aproveitamento dos dados pessoais obtidos a partir da PLATAFORMA serão realizados dentro do
            escopo de atuação da AGILIZARE, podendo, não obstante, armazenar e processar tais dados em ambientes
            controlados por terceiros autorizados, tais como parceiros comerciais e fornecedores de soluções
            tecnológicas a AGILIZARE.
            5.4. A AGILIZARE faz uso de prestadores de serviços para observação e análise das estatísticas de utilização
            de seus serviços. Tais prestadores poderão ter acesso a dados de navegação anônimos e/ou anonimizados, sem
            que a AGILIZARE forneça qualquer informação relacionada aos usuários.
            5.5. Caso qualquer terceiro solicite diretamente ao usuário seus dados pessoais e informações, em qualquer
            hipótese e contexto, a coleta, guarda e processamento destas informações não serão de responsabilidade da
            AGILIZARE, ficando a total critério do usuário ter ou não qualquer envolvimento com tais terceiros. Da mesma
            forma, caso o usuário clique em um link para qualquer site externo, a AGILIZARE não terá qualquer
            responsabilidade quanto à navegação dos usuários em tais ambientes, aplicando-se as políticas de privacidade
            e termos de uso específicos desses ambientes.
            6. DIREITOS DOS USUÁRIOS
            6.1. O usuário cadastrado na plataforma da AGILIZARE terá direito à:
            • Informação sobre o tratamento de seus dados pessoais, tal como descrito neste documento;
            • Revogação a qualquer momento, através de manifestação expressa, por procedimento simples, gratuito e
            fácil, por e-mail enviado para contato@ibolao.com.br, do consentimento a qualquer momento, excetuando as
            hipóteses de tratamento com base em obrigação regulatória ou legítimo interesse;
            • Solicitação de informação a respeito das consequências caso se recuse a dar seu consentimento;
            • Oposição ao tratamento de seus dados pessoais, quando a base legal não for o consentimento e o tratamento
            violar a legislação;
            • Correção ou alteração de seus dados pessoais sempre que estiverem incompletos, inexatos ou desatualizados.
            Neste caso, o usuário pode realizar a alteração na página do usuário ou solicitar a alteração para nossa
            equipe. A AGILIZARE recomenda que o cadastro seja sempre atualizado pelo usuário;
            • Restrição dos dados e solicitação de anonimização, bloqueio ou eliminação de dados pessoais
            desnecessários, excessivos ou tratados pela AGILIZARE em desconformidade com a legislação em vigor;
            • Solicitação da transmissão dos dados tratados pela AGILIZARE para outro fornecedor de serviços ou
            produtos;
            • Exclusão dos dados pessoais tratados, por meio da solicitação de descadastramento. A AGILIZARE empreenderá
            os melhores esforços para atender a todos os pedidos de exclusão, no menor espaço de tempo possível. Tal
            exclusão, no entanto, removerá também o seu cadastro da PLATAFORMA, impossibilitando novos acessos, sem
            prejuízo de novos cadastros futuros. A AGILIZARE esclarece que respeitará o prazo de armazenamento mínimo de
            determinadas informações, conforme determinado pela legislação brasileira, especialmente para fins fiscais,
            ainda que Você solicite a exclusão de tais informações;
            • Informação sobre as entidades públicas ou privadas com as quais a AGILIZARE compartilhou seus dados, sobre
            a possibilidade de não fornecer consentimento e sobre as consequências desta negativa;
            • Revisão de decisões em processo automatizado, no caso de práticas que envolvam decisões tomadas unicamente
            com base em tratamento automatizado de dados pessoais que afetem os seus interesses; e
            • Apresentação de petição perante a Autoridade Nacional de Proteção de Dados Pessoais
            6.2. A AGILIZARE deixa de usar seus dados pessoais quando a revogação do seu consentimento for concluída ou
            quando a finalidade prevista nesta POLÍTICA DE PRIVACIDADE for atingida. Sendo assim, qualquer utilização de
            seus dados pessoais antes da efetivação do cancelamento/revogação é entendida como legal, verdadeira e
            autorizada pelo usuário. Caso a eliminação de seus dados seja solicitada, as informações pessoais fornecidas
            por Você à AGILIZARE durante a utilização da plataforma serão excluídas definitivamente, ressalvadas as
            hipóteses de retenção e guarda obrigatória de registros previstas na legislação aplicável em vigor, bem como
            nos casos em que tal guarda for permitida por lei.
            6.3. A AGILIZARE se compromete a notificar Você em caso se incidente de segurança em até 72 horas da
            constatação do ocorrido. Caso isso não seja possível, informaremos as razões para não termos tomado as
            providências imediatas ou que não somos agente de tratamento quanto aos dados em questão, indicando, sempre
            que possível, onde Você poderá encontrá-los.
            7. ATUALIZAÇÃO DA POLÍTICA DE PRIVACIDADE
            7.1. Em conformidade com os princípios da transparência, adequação e segurança, a AGILIZARE poderá, a
            qualquer tempo, realizar alterações na presente Política de Privacidade, ocasião em que o usuário será
            devidamente informado o mais breve possível através do e-mail cadastrado e em nossa PLATAFORMA.
            7.2. No topo desta POLÍTICA DE PRIVACIDADE constará a data de última alteração do documento.
            8. LEGISLAÇÃO E FORO COMPETENTE
            8.1. A AGILIZARE é uma empresa brasileira e oferece serviços e produtos observando unicamente a legislação
            brasileira, independentemente do local de acesso dos usuários.
            8.2. A inviabilidade da execução ou invalidade, ainda que em virtude de decisão judicial, de alguma
            cláusula, não afetará a validade das demais cláusulas desta POLÍTICA DE PRIVACIDADE, que permanecerá válida
            e aplicável em seus demais termos.
            8.3. A presente POLÍTICA DE PRIVACIDADE vincula as partes e seus sucessores a qualquer título.
            8.4. Fica eleito o foro da comarca da cidade do Rio de Janeiro, Estado do Rio de Janeiro, para dirimir
            qualquer controvérsia oriunda do presente instrumento, renunciando expressamente as Partes a qualquer outro
            foro, por mais privilegiado que seja ou venha a ser.

          </b></p>
      </div>
      <div style="text-align: center; padding-bottom: 50px;">
        <button (click)="back();" class="btn btn-primary"><i class="far fa-arrow-alt-circle-left"></i> Voltar</button>
      </div>
    </div>
  </div>
</div>