.navbar{
    border-radius: 0 0 40px 40px;
    position: fixed;
    z-index: 999;
    background-color: rgb(244, 244, 244);
    justify-content: space-around;
}

.saudacao{
    display:block; 
    line-height: 100%;
}

#txtsaudacao{
    font-style: italic;
    font-size: 18px;
    color:darkgrey;
}

#name{
color:darkgrey;
font-size: 20px;
font-weight: bold;
}