
<div *ngIf="mobile">

    <app-top-bar></app-top-bar>
  
  </div>  
  
  <div class="col-12 main-container">
  
      <div *ngIf="!mobile" class="row col-12 submain-container">
  
        <app-nav-bar></app-nav-bar>
  
        <div class="col-md-12">
          <div class="card">
            <div class="card-header card-header-tabs card-header-primary">
              <h4 class="card-title">COMBO DE BOLÕES</h4>
            </div>
      
        <br/><br/>
          <form>
  
              
  
              <br/>
  
              <div id="efg" class="divresumocombo card" style="text-align: center;">
                  <h4 class="card-title"><b>Resumo do Combo</b></h4>
                  <br/>
  
                  <div class="form-row" style="align-items: center; display: flex; justify-content: center;">
                    
                      <div id="resumotable" class="resumoCombo col-md-8">
  
                        <table class="table table-bordered">
                          <thead>
                            <tr>
                              <th scope="col">Bolão</th>
                              <th scope="col">Data do Sorteio</th>
                              <th scope="col">Cota</th>
                              <th scope="col" >Valor Cota</th>
                              <th scope="col" >SubTotal</th>
                              <th scope="col" >Online</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let item of boloes;index as i">
                              <td>{{item.tipoModalidade}}&nbsp;-&nbsp;{{item.qtdCotas}}&nbsp;-&nbsp;{{preparaValorDe(item.valorCota)}}&nbsp;-&nbsp;{{item.horarioFechamento}}</td>
                              <td>{{item.dataSorteio.substring(8,10)+"-"+item.dataSorteio.substring(5,7)+"-"+item.dataSorteio.substring(0,4)}}</td>
                              <td>{{this.cotas[i]}}</td> 
                              <td >{{this.preparaValorDe(item.valorCota)}}</td>
                              <td>{{this.preparaValorDe(this.subtotal[i])}}</td>
                              <td>{{item.qtdCotasDisponiveis}}</td>
                            </tr>
                          </tbody>
                          
                          <tr>
                            <td colspan="4">
                              <b>Valor Total do Combo</b>
                            </td>
                            <td colspan="2">
                              <b>{{this.preparaValorDe(this.valortotal)}}</b>
                            </td>
                          </tr>
                        </table>
                        
                      </div>
                      
                      <br/><br/>
  
                  </div>
                  
                </div>
                <br/>
                <div id="divsuccess" class="fade-out col-md-12">
                  <h3>Combo excluído com sucesso</h3>
                </div>
              
              <div class="divbuttonsresumo">
                <!-- <button (click)="cadastrar();" class="btn btn-primary"><i class="fas fa-check"></i> Confirmar</button>&nbsp; -->
                <button (click)="back();" class="btn btn-primary"><i class="far fa-arrow-alt-circle-left"></i> Voltar</button>&nbsp;&nbsp;
                <button *ngIf="this.perfil != 'VENDEDOR'" (click)="deletar();" class="btn btn-primary"><i class="fas fa-trash-alt"></i> Desfazer Combo</button>
              </div>
              <br/>
  
              <!-- <div id="divsuccess" class="fade-out col-md-12" ><h3>Dados gravados com sucesso</h3></div> -->
            </form>
  
          </div>
        </div>
          
      
      </div>
  
  
      <div *ngIf="mobile">
  
        <div class="divtitulo">
          <h4 class="card-title">COMBO DE BOLÕES</h4>
        </div>
  
      <div class="row col-12 submain-container">
  
        <div *ngIf="(nave == 'true')"><app-nav-bar></app-nav-bar></div>
  
        <div class="col-md-12">
          <div class="card">
            
          <form>
  
              <div id="efg" class="divresumocombo card">
                  <h4 class="card-title"><b>Resumo do Combo</b></h4>
                  <div class="form-row">
  
                      <div style="text-align: center;">
                        <p style="color: red;">Arraste para o lado para poder ver toda a tabela</p>
                      </div>
                      <div id="resumotable" class="resumoCombo col-md-8 " style="
                      justify-content: center; align-self: center;">
                      
                      <table class="table table-bordered" style="display: block;max-width: auto; overflow: scroll;">
                        <thead>
                          <tr>
                            <th scope="col">Bolão</th>
                            <th scope="col">Data do Sorteio</th>
                            <th scope="col">Cota</th>
                            <th scope="col" >Valor Cota(R$)</th>
                            <th scope="col" >SubTotal(R$)</th>
                            <th scope="col" >Online</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let item of boloes;index as i">
                            <td>{{item.tipoModalidade}}&nbsp;-&nbsp;{{item.qtdCotas}}&nbsp;-&nbsp;{{preparaValorDe(item.valorCota)}}&nbsp;-&nbsp;{{item.horarioFechamento}}</td>
                            <td>{{item.dataSorteio.substring(8,10)+"-"+item.dataSorteio.substring(5,7)+"-"+item.dataSorteio.substring(0,4)}}</td>
                            <td>{{this.cotas[i]}}</td> 
                            <td >{{this.preparaValorDe(item.valorCota)}}</td>
                            <td>{{this.preparaValorDe(this.subtotal[i])}}</td>
                            <td>{{item.qtdCotasDisponiveis}}</td>
                          </tr>
                          </tbody>
                          
                          <tr>
                            <td colspan="4">
                              <b>Valor Total do Combo</b>
                            </td>
                            <td colspan="2">
                              <b>{{this.preparaValorDe(this.valortotal)}}</b>
                            </td>
                          </tr>
                        </table>
  
                      </div>
  
                  </div>
                  
                </div>
                <br/>
              
              <div class="divbuttonsresumo">
                <!-- <button (click)="cadastrar();" class="btn btn-primary"><i class="fas fa-check"></i> Confirmar</button>&nbsp; -->
                <button (click)="back();" class="btn btn-primary"><i class="far fa-arrow-alt-circle-left"></i> Voltar</button>&nbsp;&nbsp;
                <button *ngIf="this.perfil != 'VENDEDOR'" (click)="deletar();" class="btn btn-primary"><i class="fas fa-trash-alt"></i> Desfazer Combo</button>
              </div>
              <div style="padding-bottom: 20px;"></div>
              <br/><br/>
  
              <!-- <div id="divsuccess" class="fade-out col-md-12" ><h3>Dados gravados com sucesso</h3></div> -->
            </form>
  
          </div>
        </div>
          
        <div style="
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: gray;
        color: white;
        text-align: center;"><app-tab-bar></app-tab-bar> </div>  
      
      </div>
      </div>
      
      </div>
  
  
      