<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>



<div class="col-12 main-container">

  <div *ngIf="!mobile">

    <div class="container">
      <div class="col-md-6 mx-auto text-center">
        <div class="header-title">
          <h1 class="wv-heading--title">
            <img src="../assets/logobolao.png" width="200" height="120">
            <br /><br />TERMOS DE USO
          </h1>
        </div>
      </div>
      <div class="col-md-10 mx-auto text-center" style="justify-content: center;">
        <p style="text-align: justify;" id="texto">
          TERMOS DE USO

          Este documento descreve os TERMOS DE USO do “iBolão” um serviço da AGILIZARE SERVIÇOS E TECNOLOGIA LTDA,
          empresa sediada na Rua Fadel Fadel, 186/1503 – Leblon Rio de Janeiro – RJ, inscrita no CNPJ sob o número
          43.275.345/0001-60. Ao se tornar assinante do serviço, o(a) Assinante declara que leu integralmente este Termo
          e concorda com todas as suas disposições.
          1. O SERVIÇO
          1.1. O(A) Assinante, por este termo, adere aos serviços prestados pelo iBolão, relacionados ao controle e
          aceleração das vendas de Bolões emitidos pela Casa Lotérica do(a) Assinante.
          1.2. Todas as informações sobre o “iBolão” poderão ser esclarecidos também através do e-mail
          contato@ibolao.com.br, ou pelo Whatsapp (21) 99209-1531.


          2. ASSINATURAS
          2.1. O iBolão oferece 2 (duas) modalidades de assinaturas, cada qual podendo ser contratada através de 3
          (três) planos de pagamento distintos (trimestral, semestral ou anual).
          2.2. O(A) Assinante receberá uma senha de acesso para o sistema, onde terá os serviços de administração dos
          bolões emitidos em sua Casa Lotérica, tais como cadastro de bolão, cadastro de usuários, cadastro de clientes,
          controle de vendas, emissão de link de pagamento através de cartão de crédito; entre outros.
          2.3. As assinaturas poderão ser feitas em 3 (três) períodos distintos, trimestral, semestral e anual.
          2.3.1. Na assinatura do plano trimestral, o(a) Assinante poderá efetuar o pagamento mensalmente do valor de
          sua assinatura, sem qualquer aplicação de desconto.
          2.3.2. Na assinatura do plano semestral, o(a) Assinante terá um desconto especial de x% ( x por cento) no
          valor de cada pagamento pelo período que durar a assinatura, podendo efetuar o pagamento em até 3 parcelas
          sucessivas.
          2.3.1. Na assinatura do plano anual, o(a) Assinante terá um desconto especial de x% ( x por cento) no valor de
          cada pagamento pelo período que durar a assinatura, podendo efetuar o pagamento em até 6 parcelas sucessivas.

          2.4. A assinatura do serviço não dá direito a nenhum outro benefício que não os expressamente previstos neste
          Termo. A assinatura também não significa que haja qualquer relação associativa com a Agilizare Tecnologia.
          2.5. As assinaturas serão automaticamente renovadas, por prazos sucessivos iguais ao inicialmente contratado,
          a menos que o(a) Assinante opte por seu cancelamento, conforme contrato de serviços firmado entre as partes.
          2.6. As alterações de modalidade de plano solicitadas até o dia 25 do mês serão válidas a partir do mês
          seguinte.
          2.7. Adicionalmente ao valor dos planos de assinatura escolhidos, será devido pelo(a) Assinante um valor de R$
          0,05 (cinco centavos de real) por cota de bolão cadastrada no sistema. O fechamento de tal valor será no
          último dia útil de cada mês para que o valor seja informado previamente ao Assinante para pagamento no dia 5
          do mês seguinte.
          3. INSCRIÇÃO
          3.1. A assinatura do serviço iBolão será realizada mediante a formalização de contrato de serviços entre o(a)
          Assinante e a Agilizare.

          3.2. No ato de inscrição o(a) Assinante deverá fornecer seus dados e optar pela forma de pagamento que pode
          ser via PIX ou cartão de crédito válido, declarando que os dados são verídicos e que são de sua própria
          titularidade.
          3.2.1. É condição para assinatura que o(a) Assinante seja empresário(a) lotérico(a) com titularidade de uma
          Casa Lotérica oficial permissionária da Caixa Econômica Federal em qualquer um dos Estados da federação ou no
          Distrito Federal.
          3.3. O(A) Assinante deverá criar um login e senha, conforme os critérios exigidos pelo site, para acessar a
          área logada do Site onde poderá executar todas as funcionalidades do sistema. O login e senha são
          intransferíveis, sendo obrigação do(a) Assinante zelar pela sua segurança durante e após a assinatura.
          3.4. Sugere-se a cada Assinante alterar sua senha de acesso periodicamente.
          3.5. Os dados fornecidos no momento da inscrição e adesão serão utilizados única e exclusivamente para fins de
          cadastro e controle da contratação e estão sujeitos aos termos da nossa “Política de Privacidade”, a Agilizare
          se exime de quaisquer responsabilidades decorrentes de casos furtuitos e ou de força maior (por exemplo,
          vírus, invasões no portal, em sua base de dados e demais falhas a ela não atribuíveis).
          4. CONDIÇÕES DE PAGAMENTO
          4.1. O preço da assinatura varia conforme o plano e período escolhido (trimestral, semestral ou anual)
          escolhido pelo(a) assinante, cujos valores estão disponíveis no contrato de adesão.
          4.1.1. O pagamento da primeira mensalidade, em qualquer dos planos, será debitado no dia da assinatura, sendo
          os pagamentos subsequentes realizados todo dia 5 do mês subsequente.
          4.2. Os preços das assinaturas poderão ser reajustados anualmente mediante comunicação aos(às) Assinantes, com
          antecedência mínima de 30 (trinta) dias. Os valores eventualmente atualizados serão sempre cobrados dentro do
          próximo período de faturação ou de renovação do plano.
          4.2.1.O(A) Assinante que não estiver de acordo com o reajuste poderá cancelar sua assinatura, desde que o faça
          antes da data da próxima renovação automática ou antes do período correspondente a uma nova faturação.
          4.2.2.Caso não haja manifestação do(a) Assinante dentro do prazo, o novo valor será considerado aceito e
          passará a ser cobrado no cartão cadastrado.
          4.6.1.O(A) Assinante que não estiver de acordo com o reajuste do frete poderá cancelar sua assinatura, desde
          que o faça antes da data da próxima renovação automática ou antes do período correspondente a uma nova
          faturação
          4.6.2.Caso não haja manifestação do(a) Assinante dentro do prazo, o novo valor de frete será considerado
          aceito e passará a ser cobrado no cartão cadastrado.
          5. VIGÊNCIA E CANCELAMENTO DO CONTRATO DE ASSINATURA:
          5.1. Este termo é aplicado durante todo o período de vigência do plano contratado pelo assinante, inclusive
          suas renovações automáticas, quando for o caso.
          5.2. Caso não tenha interesse em continuar a contratação, o(a) Assinante poderá cancelar o plano contratado
          mediante comunicação pelo Whatsapp indicado neste documento, com antecedência mínima de 30 dias para que possa
          ser encerrado o ciclo de cobrança, quando será indisponibilizado o acesso e efetuada a cobrança do valor
          adicional referente às cotas incluídas no sistema até o último dia de sua utilização.
          5.3. O cancelamento do plano trimestral, semestral ou anual, efetuados antes do término de sua vigência não
          ensejarão devolução dos valores dos meses não utilizados.
          5.3.1. Qualquer cancelamento efetuado não ensejará cobrança de multa ou penalidade ao (à) Assinante, apenas as
          cobranças dos planos do período contratado.
          5.4. O(A) Assinante poderá exercer o direito de arrependimento previsto no artigo 49 do Código de Defesa do
          Consumidor, devendo, para tanto, comunicar de forma expressa sua vontade de cancelar a assinatura através do
          e-mail: contato@ibolao.com.br em até 7 (sete) dias contados do início de sua utilização do sistema. Neste
          caso, os valores eventualmente cobrados serão ressarcidos após a confirmação de seu recebimento, deduzidas
          apenas as taxas de liquidação, definidas conforme a forma de pagamento escolhida pelo(a) Assinante no ato da
          celebração do contrato de assinatura..

          5.5. A Agilizare não exerce controle sobre os procedimentos de estorno de valores pagos através de cartão de
          crédito, cabendo às instituições financeiras o controle e o modo de sua realização
          6. DISPOSIÇÕES FINAIS
          6.1. A Agilizare pode cancelar unilateralmente as assinaturas que: (i) violarem estas disposições, a exclusivo
          critério e sem direito de reembolso; (ii) não estejam quites com o pagamento da assinatura; (iii) caso se
          descubra que as informações de cadastro são inverídicas ou não pertencem ao titular; (iv) não for possível
          realizar a cobrança da assinatura por qualquer motivo (v) descobrir que o(a) Assinante está fornecendo sua
          senha de acesso para outro estabelecimento lotérico utilizá-la em desacordo com os termos do contrato de
          serviço.
          6.2. A Agilizare poderá investigar e adotar as medidas legais cabíveis para fiscalizar e fazer valer o
          cumprimento destas disposições, inclusive suspendendo ou encerrando a conta de quaisquer assinantes que
          comprovadamente estejam descumprindo os termos de uso ou a política de privacidade.
          6.3. A Agilizare não poderá ser responsabilizada civil ou penalmente por danos causados em decorrência de atos
          ou conteúdo publicado por seus usuários, que assumem integral responsabilidade de acordo com estes Termos.
          6.4. A Agilizare poderá suspender a conta, o acesso ou a assinatura do(a) Assinante, de acordo com seu
          exclusivo critério, independentemente do motivo e a qualquer momento, sem necessidade de aviso prévio e sem
          direito a reembolso, caso seja constatado o risco ou potencial descumprimento destas disposições ou qualquer
          uso indevido ou inadequado do site, informando a causa da medida.
          6.5. Este documento, associado à política de privacidade e ao contrato de serviço constituem a totalidade do
          acordo e o compilado de garantias e responsabilidades divididas entre o(a)Assinante e a Agilizare, em relação
          a assinatura, ao uso do site e suas funcionalidades.
          6.6. Este Termo tem prazo de vigência indeterminado, sujeitando o(a) Assinante após a sua concordância
          eletrônica decorrente da realização do cadastro online.
          6.7. A eventual inércia, mora ou incapacidade de exercer ou executar qualquer direito ou disposição do
          presente acordo não implicará em renúncia de tal direito ou disposição.
          6.8. Se qualquer parte destes Termos for considerada inválida ou inexequível, tal trecho deve ser interpretado
          de forma consistente com a lei aplicável, para refletir, na medida do possível, a intenção original das
          partes, e as demais disposições permanecerão em pleno vigor e efeito.
          6.9. Em caso de dúvida, entre em contato com a Agilizare através do e-mail: contato@ibolao.com.br.

          6.10. Sempre que possível tentaremos resolver os problemas e questões pela via amigável. Caso não seja
          possível, e eleita a jurisdição e foro exclusivo do Foro Central da Comarca do Rio de Janeiro, para dirimir
          qualquer divergência oriunda deste, por mais privilegiado que outro venha a ser.
          6.11. Eventuais benefícios ou promoções de adesão aos(às) novos(as) assinantes não são extensíveis para
          assinantes que já tenham assinatura válida e vigente.
          6.12. A Agilizare reserva-se ao direito de a seu exclusivo critério e a qualquer tempo, modificar, adicionar
          ou remover quaisquer cláusulas deste termo, comunicando a alteração em sua página inicial, em suas redes
          sociais e por e-mail, previamente ao início da vigência, com antecedência mínima de 14 (quatorze) dias.
          6.13. Todos os Direitos Autorais bem como qualquer outra propriedade imaterial (por exemplo, marcas,
          logotipos, sinais distintivos, códigos de programação, textos explicativos, resenhas e etc.) constantes do
          site e dos demais materiais disponibilizados ao(à) Assinante são de titularidade da Agilizare protegidas pela
          legislação aplicável à propriedade intelectual, o(a) Assinante não está autorizado a utilizar tais conteúdos,
          sob pena de aplicação de medidas cíveis e penais cabíveis contra a utilização ou reprodução indevida.
          6.14. As disposições aqui previstas regem-se pelas leis do Brasil.

        </p>
      </div>
      <div style="text-align: center; padding-bottom: 50px;">
        <button (click)="back();" class="btn btn-primary"><i class="far fa-arrow-alt-circle-left"></i> Voltar</button>
      </div>
    </div>
  </div>



  <div *ngIf="mobile">

    <div id="logo">
      <img src="../../assets/logobolao.png" width="80%" />
    </div>

    <div class="divtitulo">
      <h4 class="card-title">TERMOS DE USO</h4>
    </div>

    <div class="row col-12 submain-container">

      <div class="submain-container">
        <p id="texto"><b>
            TERMOS DE USO

            Este documento descreve os TERMOS DE USO do “iBolão” um serviço da AGILIZARE SERVIÇOS E TECNOLOGIA LTDA,
            empresa sediada na Rua Fadel Fadel, 186/1503 – Leblon Rio de Janeiro – RJ, inscrita no CNPJ sob o número
            43.275.345/0001-60. Ao se tornar assinante do serviço, o(a) Assinante declara que leu integralmente este
            Termo e concorda com todas as suas disposições.
            1. O SERVIÇO
            1.1. O(A) Assinante, por este termo, adere aos serviços prestados pelo iBolão, relacionados ao controle e
            aceleração das vendas de Bolões emitidos pela Casa Lotérica do(a) Assinante.
            1.2. Todas as informações sobre o “iBolão” poderão ser esclarecidos também através do e-mail
            contato@ibolao.com.br, ou pelo Whatsapp (21) 99209-1531.


            2. ASSINATURAS
            2.1. O iBolão oferece 2 (duas) modalidades de assinaturas, cada qual podendo ser contratada através de 3
            (três) planos de pagamento distintos (trimestral, semestral ou anual).
            2.2. O(A) Assinante receberá uma senha de acesso para o sistema, onde terá os serviços de administração dos
            bolões emitidos em sua Casa Lotérica, tais como cadastro de bolão, cadastro de usuários, cadastro de
            clientes, controle de vendas, emissão de link de pagamento através de cartão de crédito; entre outros.
            2.3. As assinaturas poderão ser feitas em 3 (três) períodos distintos, trimestral, semestral e anual.
            2.3.1. Na assinatura do plano trimestral, o(a) Assinante poderá efetuar o pagamento mensalmente do valor de
            sua assinatura, sem qualquer aplicação de desconto.
            2.3.2. Na assinatura do plano semestral, o(a) Assinante terá um desconto especial de x% ( x por cento) no
            valor de cada pagamento pelo período que durar a assinatura, podendo efetuar o pagamento em até 3 parcelas
            sucessivas.
            2.3.1. Na assinatura do plano anual, o(a) Assinante terá um desconto especial de x% ( x por cento) no valor
            de cada pagamento pelo período que durar a assinatura, podendo efetuar o pagamento em até 6 parcelas
            sucessivas.

            2.4. A assinatura do serviço não dá direito a nenhum outro benefício que não os expressamente previstos
            neste Termo. A assinatura também não significa que haja qualquer relação associativa com a Agilizare
            Tecnologia.
            2.5. As assinaturas serão automaticamente renovadas, por prazos sucessivos iguais ao inicialmente
            contratado, a menos que o(a) Assinante opte por seu cancelamento, conforme contrato de serviços firmado
            entre as partes.
            2.6. As alterações de modalidade de plano solicitadas até o dia 25 do mês serão válidas a partir do mês
            seguinte.
            2.7. Adicionalmente ao valor dos planos de assinatura escolhidos, será devido pelo(a) Assinante um valor de
            R$ 0,05 (cinco centavos de real) por cota de bolão cadastrada no sistema. O fechamento de tal valor será no
            último dia útil de cada mês para que o valor seja informado previamente ao Assinante para pagamento no dia 5
            do mês seguinte.
            3. INSCRIÇÃO
            3.1. A assinatura do serviço iBolão será realizada mediante a formalização de contrato de serviços entre
            o(a) Assinante e a Agilizare.

            3.2. No ato de inscrição o(a) Assinante deverá fornecer seus dados e optar pela forma de pagamento que pode
            ser via PIX ou cartão de crédito válido, declarando que os dados são verídicos e que são de sua própria
            titularidade.
            3.2.1. É condição para assinatura que o(a) Assinante seja empresário(a) lotérico(a) com titularidade de uma
            Casa Lotérica oficial permissionária da Caixa Econômica Federal em qualquer um dos Estados da federação ou
            no Distrito Federal.
            3.3. O(A) Assinante deverá criar um login e senha, conforme os critérios exigidos pelo site, para acessar a
            área logada do Site onde poderá executar todas as funcionalidades do sistema. O login e senha são
            intransferíveis, sendo obrigação do(a) Assinante zelar pela sua segurança durante e após a assinatura.
            3.4. Sugere-se a cada Assinante alterar sua senha de acesso periodicamente.
            3.5. Os dados fornecidos no momento da inscrição e adesão serão utilizados única e exclusivamente para fins
            de cadastro e controle da contratação e estão sujeitos aos termos da nossa “Política de Privacidade”, a
            Agilizare se exime de quaisquer responsabilidades decorrentes de casos furtuitos e ou de força maior (por
            exemplo, vírus, invasões no portal, em sua base de dados e demais falhas a ela não atribuíveis).
            4. CONDIÇÕES DE PAGAMENTO
            4.1. O preço da assinatura varia conforme o plano e período escolhido (trimestral, semestral ou anual)
            escolhido pelo(a) assinante, cujos valores estão disponíveis no contrato de adesão.
            4.1.1. O pagamento da primeira mensalidade, em qualquer dos planos, será debitado no dia da assinatura,
            sendo os pagamentos subsequentes realizados todo dia 5 do mês subsequente.
            4.2. Os preços das assinaturas poderão ser reajustados anualmente mediante comunicação aos(às) Assinantes,
            com antecedência mínima de 30 (trinta) dias. Os valores eventualmente atualizados serão sempre cobrados
            dentro do próximo período de faturação ou de renovação do plano.
            4.2.1.O(A) Assinante que não estiver de acordo com o reajuste poderá cancelar sua assinatura, desde que o
            faça antes da data da próxima renovação automática ou antes do período correspondente a uma nova faturação.
            4.2.2.Caso não haja manifestação do(a) Assinante dentro do prazo, o novo valor será considerado aceito e
            passará a ser cobrado no cartão cadastrado.
            4.6.1.O(A) Assinante que não estiver de acordo com o reajuste do frete poderá cancelar sua assinatura, desde
            que o faça antes da data da próxima renovação automática ou antes do período correspondente a uma nova
            faturação
            4.6.2.Caso não haja manifestação do(a) Assinante dentro do prazo, o novo valor de frete será considerado
            aceito e passará a ser cobrado no cartão cadastrado.
            5. VIGÊNCIA E CANCELAMENTO DO CONTRATO DE ASSINATURA:
            5.1. Este termo é aplicado durante todo o período de vigência do plano contratado pelo assinante, inclusive
            suas renovações automáticas, quando for o caso.
            5.2. Caso não tenha interesse em continuar a contratação, o(a) Assinante poderá cancelar o plano contratado
            mediante comunicação pelo Whatsapp indicado neste documento, com antecedência mínima de 30 dias para que
            possa ser encerrado o ciclo de cobrança, quando será indisponibilizado o acesso e efetuada a cobrança do
            valor adicional referente às cotas incluídas no sistema até o último dia de sua utilização.
            5.3. O cancelamento do plano trimestral, semestral ou anual, efetuados antes do término de sua vigência não
            ensejarão devolução dos valores dos meses não utilizados.
            5.3.1. Qualquer cancelamento efetuado não ensejará cobrança de multa ou penalidade ao (à) Assinante, apenas
            as cobranças dos planos do período contratado.
            5.4. O(A) Assinante poderá exercer o direito de arrependimento previsto no artigo 49 do Código de Defesa do
            Consumidor, devendo, para tanto, comunicar de forma expressa sua vontade de cancelar a assinatura através do
            e-mail: contato@ibolao.com.br em até 7 (sete) dias contados do início de sua utilização do sistema. Neste
            caso, os valores eventualmente cobrados serão ressarcidos após a confirmação de seu recebimento, deduzidas
            apenas as taxas de liquidação, definidas conforme a forma de pagamento escolhida pelo(a) Assinante no ato da
            celebração do contrato de assinatura..

            5.5. A Agilizare não exerce controle sobre os procedimentos de estorno de valores pagos através de cartão de
            crédito, cabendo às instituições financeiras o controle e o modo de sua realização
            6. DISPOSIÇÕES FINAIS
            6.1. A Agilizare pode cancelar unilateralmente as assinaturas que: (i) violarem estas disposições, a
            exclusivo critério e sem direito de reembolso; (ii) não estejam quites com o pagamento da assinatura; (iii)
            caso se descubra que as informações de cadastro são inverídicas ou não pertencem ao titular; (iv) não for
            possível realizar a cobrança da assinatura por qualquer motivo (v) descobrir que o(a) Assinante está
            fornecendo sua senha de acesso para outro estabelecimento lotérico utilizá-la em desacordo com os termos do
            contrato de serviço.
            6.2. A Agilizare poderá investigar e adotar as medidas legais cabíveis para fiscalizar e fazer valer o
            cumprimento destas disposições, inclusive suspendendo ou encerrando a conta de quaisquer assinantes que
            comprovadamente estejam descumprindo os termos de uso ou a política de privacidade.
            6.3. A Agilizare não poderá ser responsabilizada civil ou penalmente por danos causados em decorrência de
            atos ou conteúdo publicado por seus usuários, que assumem integral responsabilidade de acordo com estes
            Termos.
            6.4. A Agilizare poderá suspender a conta, o acesso ou a assinatura do(a) Assinante, de acordo com seu
            exclusivo critério, independentemente do motivo e a qualquer momento, sem necessidade de aviso prévio e sem
            direito a reembolso, caso seja constatado o risco ou potencial descumprimento destas disposições ou qualquer
            uso indevido ou inadequado do site, informando a causa da medida.
            6.5. Este documento, associado à política de privacidade e ao contrato de serviço constituem a totalidade do
            acordo e o compilado de garantias e responsabilidades divididas entre o(a)Assinante e a Agilizare, em
            relação a assinatura, ao uso do site e suas funcionalidades.
            6.6. Este Termo tem prazo de vigência indeterminado, sujeitando o(a) Assinante após a sua concordância
            eletrônica decorrente da realização do cadastro online.
            6.7. A eventual inércia, mora ou incapacidade de exercer ou executar qualquer direito ou disposição do
            presente acordo não implicará em renúncia de tal direito ou disposição.
            6.8. Se qualquer parte destes Termos for considerada inválida ou inexequível, tal trecho deve ser
            interpretado de forma consistente com a lei aplicável, para refletir, na medida do possível, a intenção
            original das partes, e as demais disposições permanecerão em pleno vigor e efeito.
            6.9. Em caso de dúvida, entre em contato com a Agilizare através do e-mail: contato@ibolao.com.br.

            6.10. Sempre que possível tentaremos resolver os problemas e questões pela via amigável. Caso não seja
            possível, e eleita a jurisdição e foro exclusivo do Foro Central da Comarca do Rio de Janeiro, para dirimir
            qualquer divergência oriunda deste, por mais privilegiado que outro venha a ser.
            6.11. Eventuais benefícios ou promoções de adesão aos(às) novos(as) assinantes não são extensíveis para
            assinantes que já tenham assinatura válida e vigente.
            6.12. A Agilizare reserva-se ao direito de a seu exclusivo critério e a qualquer tempo, modificar, adicionar
            ou remover quaisquer cláusulas deste termo, comunicando a alteração em sua página inicial, em suas redes
            sociais e por e-mail, previamente ao início da vigência, com antecedência mínima de 14 (quatorze) dias.
            6.13. Todos os Direitos Autorais bem como qualquer outra propriedade imaterial (por exemplo, marcas,
            logotipos, sinais distintivos, códigos de programação, textos explicativos, resenhas e etc.) constantes do
            site e dos demais materiais disponibilizados ao(à) Assinante são de titularidade da Agilizare protegidas
            pela legislação aplicável à propriedade intelectual, o(a) Assinante não está autorizado a utilizar tais
            conteúdos, sob pena de aplicação de medidas cíveis e penais cabíveis contra a utilização ou reprodução
            indevida.
            6.14. As disposições aqui previstas regem-se pelas leis do Brasil.

          </b></p>
      </div>
      <div style="text-align: center; padding-bottom: 50px;">
        <button (click)="back();" class="btn btn-primary"><i class="far fa-arrow-alt-circle-left"></i> Voltar</button>
      </div>

    </div>
  </div>
</div>